<h1>REGISTRO</h1>
<p style="color:red">
    {{#if err}}{{err}}{{/if}}
</p>
<form validated action="/signup" method="post">
    <p>
        <input value="{{email}}" required placeholder="Ingresa tu email :)" name="email" type="email">
    </p>
        <p>
        <input value="{{password}}" required placeholder="Contraseña :)" name="password" type="password">
    </p>
        <p>
        <input value="{{password2}}" required placeholder="Repite tu contraseña :)" name="password2" type="password">
    </p>
    <input type="submit">
</form>