<div class="login-page">
  <div class="login-form">
    <h1>Regístrate</h1>
    <form class="form" validated action="/signup" method="post">
        <input value="{{email}}" placeholder="Cuál es tu email? :)" name="email" type="email" required/>
        <input value="{{password}}" placeholder="Escribe una contraseña" name="password" type="password" required/>
        <input value="{{password2}}" required placeholder="Repite la contraseña" name="password2" type="password">
        <button>ENTRAR</button>
      <p class="message" style="color:red">{{#if err}}{{err}}{{/if}}</p>
    </form>
  </div>
</div>
