<div class="contact-page">
  <div class="contact-form">
    <h1>Contáctanos</h1>
    <form class="form">
      <input id="mail" type="text" placeholder="Dirección Email" name="email" type="email" required/>
      <textarea id="msj" rows="4" cols="50" placeholder="Tu mensaje :)"></textarea>
      <button>ENVIAR</button>
    </form>
  </div>
</div>