{{!-- <div id="contact">
    <div id="message">
        <form action="/contact">
            <input type="text" name="name" placeholder="Tu nombre :)">
            <input type="text" name="message" placeholder="Tu mensaje aquí :)">
            <button>ENVIAR</button>
        </form>
    </div>
</div> --}}