<div class="container">
    <div class="welcome-header">
        <h1>Encuentra donde ir!</h1>
    </div>
    <section class="section-events">
        <h3>PRÓXIMOS EVENTOS</h3>
        <a href="/events">Ver más</a>
        <p>SÁBADO 21 DE JULIO</p>
        <p>Aquí se deben ver los eventos en filas</p>

    </section>
    <section class="section-places">
        <h3>LUGARES DE INTERÉS</h3>
        <a href="/places">Ver más</a>
        <p>Aquí se deben ver los lugares en filas</p>
    </section>
</div>

<script>
    function getBookDetails(isbn) {
  
        // Query the book database by ISBN code.
        isbn = isbn || "9781451648546"; // Steve Jobs book 
        
        let url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
        
        let response = UrlFetchApp.fetch(url);
        let results = JSON.parse(response);
        
        if (results.totalItems) {
            
            // There'll be only 1 book per ISBN
            var book = results.items[0];
            var title = (book["volumeInfo"]["title"]);
            var subtitle = (book["volumeInfo"]["subtitle"]);
            var authors = (book["volumeInfo"]["authors"]);
            var printType = (book["volumeInfo"]["printType"]);
            var pageCount = (book["volumeInfo"]["pageCount"]);
            var publisher = (book["volumeInfo"]["publisher"]);
            var publishedDate = (book["volumeInfo"]["publishedDate"]);
            var webReaderLink = (book["accessInfo"]["webReaderLink"]);
            
            console.log(book);
        
        }        
    }
</script>