<div  class="container" id="books">
    <h3>Libros</h3>
    <a href="/books">Ver más</a>
    <h4>Aquí se deben ver los libros en filas</h4>
</div>

<div class="container" id="lugares">
    <h3>Lugares</h3>
    <a href="/places">Ver más</a>
    <h4>Aquí se deben ver los lugares en filas</h4>
</div>

<div class="container" id="eventos">
    <h3>Eventos</h3>
    <a href="/events">Ver más</a>
    <h4>Aquí se deben ver los eventos en filas</h4>
</div>