<div class="container">
    <div class="category">
        <h3>LIBROS</h3>
        <a href="/books">Ver más</a>
        <p>Aquí se deben ver los libros en filas</p>
    </div>

    <div class="category">
        <h3>LUGARES</h3>
        <a href="/places">Ver más</a>
        <p>Aquí se deben ver los lugares en filas</p>
    </div>

    <div class="category">
        <h3>EVENTOS</h3>
        <a href="/events">Ver más</a>
        <p>Aquí se deben ver los eventos en filas</p>
    </div>
</div>