<div class="container">
    <div class="category">
        <h3>LIBROS</h3>
        <a href="/books">Ver más</a>
        <p>Aquí se deben ver los libros en filas</p>
        <a href="/"><img class="card" src="https://books.google.com.mx/books/content?id=hTOpvvxQW8oC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70oHW6yxbZwHY8xIZcC2c7z5K9A3-l0rRIecE99EMQS7o3Li6jChGBt4MyHXbjIp33eUoV2wDQYKjsU06T9civeS5rPqSbFGAGAhlVwYWDnJTv66xNi0DcwTeTx8p9t-DpGUw7V" alt="Card image cap"></a>
    </div>

    <div class="category">
        <h3>LUGARES</h3>
        <a href="/places">Ver más</a>
        <p>Aquí se deben ver los lugares en filas</p>
    </div>

    <div class="category">
        <h3>EVENTOS</h3>
        <a href="/events">Ver más</a>
        <p>Aquí se deben ver los eventos en filas</p>
    </div>
</div>

<script>
    function getBookDetails(isbn) {
  
        // Query the book database by ISBN code.
        isbn = isbn || "9781451648546"; // Steve Jobs book 
        
        let url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
        
        let response = UrlFetchApp.fetch(url);
        let results = JSON.parse(response);
        
        if (results.totalItems) {
            
            // There'll be only 1 book per ISBN
            var book = results.items[0];
            var title = (book["volumeInfo"]["title"]);
            var subtitle = (book["volumeInfo"]["subtitle"]);
            var authors = (book["volumeInfo"]["authors"]);
            var printType = (book["volumeInfo"]["printType"]);
            var pageCount = (book["volumeInfo"]["pageCount"]);
            var publisher = (book["volumeInfo"]["publisher"]);
            var publishedDate = (book["volumeInfo"]["publishedDate"]);
            var webReaderLink = (book["accessInfo"]["webReaderLink"]);
            
            console.log(book);
        
        }        
    }
</script>

{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>
<script>
    let address = document.getElementById('address');
    let lat = document.getElementById('lat');
    let lng = document.getElementById('lng');

    function autoComplete(input, inputLat, inputLng){
        const dropdown = new google.maps.places.Autocomplete(input);
        dropdown.addListener('place_changed', ()=>{
            let place = dropdown.getPlace();
            console.log(place)
        })
    }

    autoComplete(address, lat, lng);
</script> --}}