<div class="container">
    <div class="welcome-header">
        <h1>Encuentra donde ir!</h1>
    </div>
    <section class="section-events">
        <h3>PRÓXIMOS EVENTOS</h3>
        {{!-- <a href="/events">Ver más</a> --}}
        <p>SÁBADO 21 DE JULIO</p>

        {{!-- CARDS SECTION --}}
        <div class="showing-cards">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Event.title</p>
                    <p class="card-header-time">6:00 PM</p>
                </header>
                <div class="card-content">
                    <div class="card-description"><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, quae nesciunt tempora hic sed quos iusto officiis quia, iste magni repudiandae enim animi inventore libero porro, quasi reprehenderit quidem explicabo?<br></div>
                </div>
                <footer class="card-footer">
                    <p class="card-header-org">Organizado por -</p>
                    <a href="#" class="card-footer-item"><br>Ver evento</a>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Event.title</p>
                    <p class="card-header-time">6:00 PM</p>
                </header>
                <div class="card-content">
                    <div class="card-description"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium suscipit eos velit, aut vitae odio nostrum. Laudantium autem harum odio ipsa, sint saepe similique fugiat repellat expedita illo? Veritatis?<br></div>
                </div>
                <footer class="card-footer">
                    <p class="card-header-org">Organizado por -</p>
                    <a href="#" class="card-footer-item"><br>Ver evento</a>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Event.title</p>
                    <p class="card-header-time">6:00 PM</p>
                </header>
                <div class="card-content">
                    <div class="card-description"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur excepturi ratione incidunt sunt nulla eos, odit porro modi ab quas facere exercitationem ullam, cupiditate neque vitae ipsa? Hic, eos! Et?<br></div>
                </div>
                <footer class="card-footer">
                    <p class="card-header-org">Organizado por -</p>
                    <a href="#" class="card-footer-item"><br>Ver evento</a>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Event.title</p>
                    <p class="card-header-time">6:00 PM</p>
                </header>
                <div class="card-content">
                    <div class="card-description"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam laudantium deleniti corporis neque ut, dolore accusantium voluptatum consequatur velit esse veritatis commodi facilis recusandae, nobis sunt corrupti dolorem officiis iste.<br></div>
                </div>
                <footer class="card-footer">
                    <p class="card-header-org">Organizado por -</p>
                    <a href="#" class="card-footer-item"><br>Ver evento</a>
                </footer>
            </div>
        </div>

    </section>

    <section class="section-places">
        <div id="lugares-de-interes">
            <h3>LUGARES DE INTERÉS</h3>
        </div>
        <div id="ver-mas">
            <a href="/places"><br>Ver más</a>
        </div>    
        
        
    </section>
</div>

<script>
    function getBookDetails(isbn) {
  
        // Query the book database by ISBN code.
        isbn = isbn || "9781451648546"; // Steve Jobs book 
        
        let url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
        
        let response = UrlFetchApp.fetch(url);
        let results = JSON.parse(response);
        
        if (results.totalItems) {
            
            // There'll be only 1 book per ISBN
            var book = results.items[0];
            var title = (book["volumeInfo"]["title"]);
            var subtitle = (book["volumeInfo"]["subtitle"]);
            var authors = (book["volumeInfo"]["authors"]);
            var printType = (book["volumeInfo"]["printType"]);
            var pageCount = (book["volumeInfo"]["pageCount"]);
            var publisher = (book["volumeInfo"]["publisher"]);
            var publishedDate = (book["volumeInfo"]["publishedDate"]);
            var webReaderLink = (book["accessInfo"]["webReaderLink"]);
            
            console.log(book);
        
        }        
    }
</script>