<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>{{title}}</title>
  </head>
  <header>
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/" class="logo">{{title}}</a></li>
          <li><i class="fas fa-search"></i><a href="#">   Buscar</a></li>
          <li><i class="fas fa-user-circle"></i><a href="#">  Mi Perfil</a></li>
          <li><i class="fas fa-info-circle"></i><a href="#">  Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>

  {{{body}}}  

  <script src='/javascripts/script.js'></script>
  </body>
</html>