<h1>
  Agrega un Lugar</h1>
<form action="/newPlace" method="POST" enctype="multipart/form-data">
  <p>
    <input required placeholder="*Nombre del Lugar:" type="text" name="placeName">
  </p>
 <p> <input placeholder="Breve Descripcion del Lugar:" type="text" name="description"></p>
 <p> <input type="text" name="location[address]" id="address"></p>
  <p><select name="recomendedAge" required>
    <option value="">*Edad recomendada:</option>
    <option>todas las edades</option>
    <option>menos de 3 años</option>
    <option>entre 3 y 11 años</option>
    <option>mas de 11 años</option>
  </select>
</p>
<p>  <select name="cost" required>
    <option value=""> *Costo aprox:</option>
    <option>gratis</option>
    <option>menor a $100</option>
    <option>mayor a $100</option>
  </select>
  </p>
  <p>
    <input type="hidden" name="location[coordinates][1]" id="lat">
  </p>
  <p>
    <input type="hidden" name="location[coordinates][0]" id="lng">
  </p>
  <p>
    Sube una foto del lugar:
    <br>
    <input type="file" name="photo" value="Sube una foto">

  </p>
  <p>
  <input type="submit" value="guardalo ">
  <br>
  * Informacion requerida
</p>
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANLU6Oh8X1ClsmohFD__Dqux_em83iYhU&libraries=places"></script>

<script>
  let address = document.getElementById('address')
  let lat = document.getElementById('lat')
  let lng = document.getElementById('lng')

  function autoComplete(input, inputLat, inputLng) {
    const dropdown = new google.maps.places.Autocomplete(input)

    dropdown.addListener('place_changed', () => {
      let place = dropdown.getPlace()
      console.log(place)
      lat.value = place.geometry.location.lat()
      lng.value = place.geometry.location.lng()
    })
  }
  autoComplete(address, lat, lng)

</script> {{!--
<h2>
  Ingresar un nuevo lugar</h2>
<p style="color:red">
  {{#if err}}{{err}}{{/if}}
</p>
<form validated action="/newPlace" method="post" enctype="multipart/form-data">
  <p>
    <input required placeholder="Nombre del lugar*" name="placename" type="text">
  </p>
  <p>
    <input placeholder="Breve descripción" name="description" type="text">
  </p>

  <p>
    Foto del lugar
    <br>
    <input type="file" name="photoURL">

  </p>
  <p>
    Costo:
    <br>
    <input type="radio" name="cost" value="gratis"> gratis
    <br>
    <input type="radio" name="cost" value="menor a $100"> menor a $100
    <br>
    <input type="radio" name="cost" value="mayor a $100"> mayor a $100
    <br>
  </p>
  <p>
    Edad recomendada:
    <br>
    <input type="radio" name="recomendedAge" value="todas las edades"> Todas las edades
    <br>
    <input type="radio" name="recomendedAge" value="menos de 3 años"> menos de 3 años
    <br>
    <input type="radio" name="recomendedAge" value="entre 3 y 11 años"> entre 3 y 11 años
    <br>
    <input type="radio" name="recomendedAge" value="mas de 11 años"> mas de 11 años
    <br>
  </p>
  <p>
    Direccion:
    <input type="text" name="location[address]" id="address">
  </p>
  <p>
    <input type="text" name="location[coordinates][1]" id="lat">
  </p>
  <p>
    <input type="text" name="location[coordinates][0]" id="lng">
  </p>
  *campos requeridos
  <br>
  <input type="submit">
</form>


<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places'></script>

<script>
  let address = document.getElementById('address')
  let lat = document.getElementById('lat')
  let lng = document.getElementById('lng')

  function autoComplete(input, inputLat, inputLng) {
    const dropdown = new google.maps.places.Autocomplete(input)

    dropdown.addListener('place_changed', () => {
      let place = dropdown.getPlace()
      console.log(place)
      lat.value = place.geometry.location.lat()
      lng.value = place.geometry.location.lng()
    })
  }
  autoComplete(address, lat, lng)

</script> --}}