<h1 class="title-pen"> MI PERFIL</h1>
<div class="user-profile">
    <div id="user-data">
        <img id="photo" class="avatar" src={{photoURL}} alt="Ash" />
        <div class="username">nombre de usuario: {{username}}</div>
        <br><br><br>
    </div>

    <div class="user-places">
        <div class="add-buttons">
            <div class="userplaces"><a class="green-button" href="/newPlace">Agregar lugar</a></div>
            <div class="userplaces"><a class="green-button" href="/newEvent">Crear evento</a></div>
            <div class="userplaces"><a class="green-button" href="/logout">CERRAR SESIÓN</a></div>
        </div>
        <div class="userplaces"> Mis lugares</div>
        <p>{{places.placeName}}</p>
    </div>
</div>

<form id="form" action="/profile" method="post" enctype="multipart/form-data">
<input onchange="submitForm()" name="foto" id="file" style="display:none" type="file">
</form>

<script>
    document.getElementById('photo').addEventListener('click', function(){
        document.getElementById('file').click();
    });

    function submitForm(e){
       document.getElementById('form').submit();
    }
</script>
