<h1 class="title-pen"> MI PERFIL</h1>
<div class="user-profile">
    <div id="user-data">
        <img class="avatar" src="https://www.shareicon.net/download/2016/09/01/822739_user_512x512.png" alt="Ash" />
        <div class="username">Mi nombre</div>
        <input class="mail" type="text" placeholder="your user email">
        <br><br><br>
    </div>

    <div class="user-places">
        <div class="userplaces"> Mis lugares</div>
    </div>
</div>