@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
body {
  margin: 0;
  background: rgba(235, 255, 240, 0.625);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #444; }

#title-logo {
  font-family: 'Gloria Hallelujah', cursive;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px; }

.nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase; }

.nav-container a {
  color: #FFF;
  text-decoration: none; }

#logo {
  width: 140px;
  height: 30px; }

header {
  background: #00b386; }

header::after {
  content: '';
  display: table;
  clear: both; }

nav {
  float: right;
  padding-bottom: 15px; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative; }

nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase; }

nav a:hover {
  color: #444; }

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms; }

nav a:hover::before {
  width: 100%; }

.welcome-header {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 80px;
  color: #FFF;
  width: 100%;
  height: 50px;
  background: #444;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em; }

.container {
  color: #444;
  text-align: left; }

.container a {
  color: #00b386;
  text-decoration: none;
  text-transform: uppercase; }

.section-events {
  color: #444;
  text-align: center;
  text-transform: uppercase;
  padding: 50px; }

.section-places {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.showing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3em; }

.showing-cards-places {
  margin-left: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3em; }

.card {
  background-color: #faf9ef;
  margin: 0;
  padding: 10px;
  height: max-content;
  border: 0.5px solid #bfbfbf;
  border-radius: 0px; }

.card-header {
  background: #faf9ef;
  border-bottom: 0.5px solid #bfbfbf; }

#register {
  color: #444;
  text-decoration: none; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.login-form h1 {
  color: #444;
  text-transform: uppercase; }

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00b386;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.login-form button:hover, .login-form button:active, .login-form button:focus {
  background: #00b386; }

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.login-form .message a {
  color: #00b386;
  text-decoration: none; }

.login-form .register-form {
  display: none; }

.title-pen {
  color: #444;
  text-align: center; }

.user-profile {
  margin: auto;
  width: 55em;
  height: 40em;
  background: #fff;
  border-radius: .3em; }

.user-profile img {
  padding: 3.7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em; }

.user-profile .username {
  margin: auto;
  margin-top: -6.40em;
  margin-left: 9.80em;
  margin-bottom: 15px;
  color: #444;
  font-size: 1.53em;
  font-weight: bold; }

.user-profile .mail {
  margin: auto;
  display: inline-block;
  margin-left: 17.20em;
  font-size: .87em; }

.userplaces {
  margin: auto;
  margin-left: 9.80em;
  color: #444;
  font-size: 1.53em;
  font-weight: bold; }

.event-header {
  padding: 30px;
  background-color: #444;
  color: #FFF; }

.event-header h2 {
  font-style: italic;
  font-size: 2em; }

.event-info {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#event-text {
  padding: 10px; }

.left-info {
  width: 40em;
  padding: 10px; }

.left-info img {
  border-radius: 5px; }

#event-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.div-location {
  overflow: auto;
  width: 30%;
  height: 40%;
  background: #FFF;
  border-radius: 10px; }

#event-text {
  padding: 10px; }

#mapita {
  width: 50vh;
  height: 30vh; }

/*# sourceMappingURL=style.css.map */